.parallax{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.sky {
  transform: translateZ(-10px) scale(2);
}

.mount1, .mount2, .mount3 {
  transform: translateZ(-10px) scale(2);
}

.cloud2, .cloud3, .cloudMask {
  transform: translateZ(-5px) scale(1.5)
}

.parallax > * {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
