@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins:wght@200&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.title{

  color:rgb(13, 3, 58);
  font-size: 25px;
  
}


#bg{
  padding: 40px 70px 40px 70px;
  background-image: linear-gradient(#fdb9d9, #225e92 );
  /* rgb(252,242,240)  */
  /* #3476b0 ; */
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
}

body{
  font-family: "Raleway", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;

}
.heading{
  font-weight: 500;
}

.hiButton{
  border-radius: 2.5em;
  width: 6em;
  padding: 6px;
  background-color: rgb(13, 3, 58);
  color: white;
  border: none;
  align-self: center;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.sections{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sections li{
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.sections li a{
  color:rgb(81, 79, 79);
  text-decoration: none;
  padding: 5px;
  font-weight: 600;
  
  
}
.sections li a:hover{
  border-bottom: 1px solid rgb(13, 3, 58);
  border-bottom-width: 2.5px;
  color:rgb(13, 3, 58); 
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links{
  display: flex;
  gap: 1em;
  margin-top: 20%;
  margin-bottom: 10%;
  cursor: pointer;
}
.desc{
  width: 40%;
  margin-top: 12%;
}
.arrow{
  padding: 0;
  
}

.circle1{
  margin-top: 5em;
  position: absolute;
  width:500px;
  height:500px;
  border-radius:50%;
  background-color:rgba(130, 201, 255, 0.321);
  padding: 40px;
  background-clip:content-box;
  box-shadow: inset 0 0 0 40px rgba(130, 201, 255, 0.255);
  border:40px solid rgba(130, 201, 255, 0.127);
  z-index: 0;
  
}
.name{
  color: rgb(13, 3, 58);
  font-size: 50px;
  font-weight: 200;
}

.img_bg{
  position: relative;
  width: 700px;
  height: 700px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.pfp{
  position: relative;
  z-index: 1;
  margin-top: 2.5em;
  width : 500px;
  height: 700px;
  
}

.sec2{
 
  background-color: #d1a7cb;
  height: 100vh;
  /* position: relative;
  overflow: hidden; */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -50px;
  height: 100vh;
  --mask:
    radial-gradient(82.73px at 50% 111px,#000 99%,#0000 101%) calc(50% - 74px) 0/148px 100%,
    radial-gradient(82.73px at 50% -74px,#0000 99%,#000 101%) 50% 37px/148px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
        
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 200px;
  font-size: 20px;
  font-weight: 500;
}

.sec2_img{
  width: 600px ;
  height: 400px;
  border-radius: 5%;
  filter:hue-rotate(290deg) opacity(0.8) drop-shadow(9px 9px 11px rgb(44, 42, 42));
  
}

.animate-pop {
  animation: pop-up 600ms cubic-bezier(1, 1.8, 0, 0.78);
  /* cubic-bezier(0.32, 1.17, 0.32, 1.11) */
}

@keyframes pop-up {
  0% {
      transform: scale(0);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}



/* .circle2{
  border-radius: 50%;
  width: 200px ;
  height: 200px ;
  color:green;
}
.circle3{
  border-radius: 50%;
  width: 100px ;
  height: 100px ;
  color:green;
}
.circle4{
  border-radius: 50%;
  width: 200px ;
  height: 200px ;
  color:green;
} */

@media(max-width: 900px){
  .circle1{
    width: 300px;
    height: 300px;

  }
  .oni{
    width: 300px;
    height: 400px;
  }
}

.main-content {
  position: relative;
  /* z-index: 1; */
  background: hsl(0, 0%, 100%);
  padding-block: 6rem;
}

.sec3{
  
  background: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
  
}
.sec4{
  background-image: url('./assets/inu.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}


.text1{
  overflow: hidden;
  position: relative;

}
.text2{
  overflow: hidden;
  position: relative;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}